@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-color: #000;
  }
  body {
    background: linear-gradient(to bottom, #0a1929, #000);
    min-height: 100vh;
  }
}